Checks: '*, -abseil*, -android*, -boost*, -fuchsia*, -objc*, -clang-diagnostic-c++98-compat*, -clang-diagnostic-switch-enum, -llvm-header-guard, -clang-diagnostic-c++98-c++11-c++14-compat, -cppcoreguidelines-owning-memory -clang-diagnostic-pragma-once-outside-header'